html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #204060;
    color: white;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px 20px;
}

nav {
    background-color: #203040;
    border-radius: 15px; 
    padding: 20px 0;
    margin: 0 0px; 
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex: 1; 
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 10px 0; 
    color: lightgray;
    opacity: 0.6;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 100ms;
}

.actual{
    color: white;
    opacity: 1;
}

nav ul li a:hover{
    color: white;
    opacity: 1;
    scale: 1.1;
}

main {
    flex: 1;
    padding: 20px;
}

.curriculum {
    text-align: center;
}

.curriculum h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 40px;
}

.section .subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #204060;
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 0 20px; 
}

.section h2 .icon {
    margin-right: 10px;
}

.experience, .education, .courses, .certifications, .skills-technical, .skills-soft {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.experience, .education, .courses {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}

.job, .school, .course, .certification {
    border: 1px solid transparent;
    border-radius: 10px;
    width: calc(50% - 0px);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(#204060, #204060), linear-gradient(to right, #89D99D, rgba(137, 217, 157, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
    z-index: 1;
}

.job, .school, .course{
    align-items: flex-start;
}

.job img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 20px;
}

.jobDuration, .education-duration, .course-duration {
    font-size: small;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow: 1;
    padding: 10px;
    text-align: right;
}


.certification {
    flex-direction: column;
    max-width: 200px;
    background-image: linear-gradient(#204060, #204060), linear-gradient(to top, #89D99D, rgba(137, 217, 157, 0));
}


.job img, .school img, .course img, .certification img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    padding: 10px;
}

.job-details, .school-details, .course-details {
    text-align: left;
    padding: 10px;
    max-width: 60%;
}

.job-details h3, .school-details h3, .course-details h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
}

.job-details span, .school-details span, .course-details span {
    font-size: 0.9em;
    color: #ddd;
}

.job-details ul, .school-details ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.job-details ul li, .school-details ul li {
    margin-bottom: 5px;
}

.skills-technical {
    display: flex;
}

.skills-technical div {
    width: calc(100% / 7);
}

.skills-technical img, .skills-soft img {
    height: 50px;
    margin: 10px;
}

.skills-soft {
    display: flex;
}

.skills-soft div {
    width: calc(100% / 6);
}

.pdf-download img {
    width: 200px;
    height: 200px;
    transition-duration: 100ms;
}

.pdf-download img:hover{
    scale: 1.1
}

footer {
    background-color: #203040;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer .social-icons {
    display: flex;
    margin-left: auto;
}

footer .social-icons a {
    color: white;
    margin: 0 10px;
}

footer .social-icons img {
    max-width: 24px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

#menu {
    display: none;
}

#menu:checked ~ nav ul {
    display: flex;
}

/* Menu hamburguesa */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        color: white;
        position: absolute;
        top: 15px;
        left: 20px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #203040;
        position: absolute;
        top: 60px;
        padding: 0;
        width: 90%;
        border-radius: 15px;
        z-index: 2;
    }

    nav ul li a {
        color: white;
        padding: 15px;
        text-align: center;
    }

    nav ul li a:hover{
        color: white;
        opacity: 1;
        transform: scale(1.1);
    }

    #menu:checked ~ nav ul {
        display: flex;
    }

}

@media (max-width: 768px) {
    header {
        padding: 10px 10px;
    }

    nav {
        z-index: 10;
        background-color: #204060;
        margin: 0 10px;
    }

    nav ul {
        flex-wrap: wrap;
    }

    nav ul li {
        flex: 1 1 50%;
    }

    .curriculum h1 {
        font-size: 2em;
    }

    .section h2 {
        font-size: 1.2em;
        margin: 0 10px;
    }

    .job, .school, .course, .certification {
        align-items: flex-start;
        position: relative;
        font-size: small;
        width: 100%;
        z-index: 1;
    }

    .certifications {
        display: flex;
        
    }

    .certification {
        display: flex;
        align-items: center;
        width: calc(100% / 3);
    }

    .certification img{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .job img, .school img, .course img, .certification img {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }


    .skills-technical div {
        display: flex;
       flex-direction: column;
        align-items: center;
        width: calc(100% / 3);
    }

    .skills-soft div {
        display: flex;
       flex-direction: column;
        align-items: center;
        width: calc(100% / 3);
    }

    .skills-technical, .skills-soft {
        display: flex;
        align-items: center;
    }

    .skills-technical img, .skills-soft img {
        width: 40px;
        height: 40px;
    }

    .pdf-download img {
        width: 150px;
        height: 150px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        position: static;
        transform: none;
    }

    footer .social-icons {
        margin-top: 10px;
    }
}