/* estilos generales */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #204060;
    color: white;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px 20px; 
}

nav {
    background-color: #203040;
    border-radius: 15px; 
    padding: 20px 0;
    margin: 0 0px; 
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: calc(100% - 10px);
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block; /* Hacer que el enlace ocupe todo el espacio del li */
    padding: 10px 0; /* Añadir padding para un mejor área clicable */
    color: lightgray;
    opacity: 0.6;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 100ms;
}

.actual{
    color: white;
    opacity: 1;
}

nav ul li a:hover{
    color: white;
    opacity: 1;
    scale: 1.1;
}

main {
    text-align: center;
    padding: 20px;
    flex: 1;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.intro .text {
    text-align: left;
    max-width: 500px;
    margin-right: 20px;
}

.intro .image img {
    border-radius: 50%;
    max-width: 300px;
    width: 100%;
}

button {
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition-duration: 100ms;
}

button:hover {
    background-color: #218838;
    scale: 1.1;
    box-shadow: 0 0 10px #218838;
}

.skills {
    text-align: left;
    margin: 40px 0;
}

.skills h2 {
    left: 200px;
}

.skills .logos {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.skills .logos div {
    width: calc(100px/5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100px;
    margin: 10px;
    border: 1px solid transparent; /* Establecer un borde inicial transparente */
    border-radius: 10px; /* Bordes redondeados opcionales */
    background-image: linear-gradient(#204060, #204060), linear-gradient(to right, #89D99D,#3B8C6E,#38886C,  #204060); /* Degradado y color de fondo */
    background-origin: border-box; /* El degradado se origina en el borde */
    background-clip: content-box, border-box; /* Clip del degradado al borde */

}

.skills .logos img {
    object-fit: contain;
}
    

footer {
    background-color: #203040;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer .social-icons {
    display: flex;
    margin-left: auto;
}

footer .social-icons a {
    color: white;
    margin: 0 10px;
}

footer .social-icons img {
    max-width: 24px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

#menu {
    display: none;
}

#menu:checked ~ nav ul {
    display: flex;
}

/* Menu hamburguesa */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        color: white;
        position: absolute;
        top: 15px;
        left: 20px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #203040;
        position: absolute;
        top: 60px;
        padding: 0;
        width: 90%;
        border-radius: 15px;
        z-index: 2;
    }

    nav ul li a {
        color: white;
        padding: 15px;
        text-align: center;
    }

    nav ul li a:hover{
        color: white;
        opacity: 1;
        scale: 1.1;
    }

    #menu:checked + nav ul {
        display: flex;
    }

}

@media (max-width: 768px) {
    

    header {
        padding: 10px 10px; /* Reducir el padding en pantallas pequeñas */
    }

    nav {
        background-color: #204060;
        margin: 0 10px; /* Reducir el margen en pantallas pequeñas */
    }

    nav ul li {
        flex: 1 1 50%; /* Hacer que cada elemento ocupe el 50% del ancho */
    }

    .intro {
        margin: 10px 0;
        flex-direction: column-reverse;
    }

    .intro .text {
        text-align: center;
    }

    .intro .image img {
        max-width: 150px; /* Ajustar el tamaño de la imagen */
        margin-top: 10px;
    }

    .skills {
        margin: 20px 10px; /* Ajustar el margen en pantallas pequeñas */
    }

    .skills .logos {
        flex-direction: column; /* Cambiar la dirección a columna */
        align-items: center;
    }

    .skills .logos div {
        width: 100%;
        margin: 10px 0; /* Espaciado vertical entre logos */
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        position: static;
        transform: none;
    }

    footer .social-icons {
        margin-top: 10px;
    }
}