html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #204060;
    color: white;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px 20px;
}

nav {
    background-color: #203040;
    border-radius: 15px; 
    padding: 20px 0;
    margin: 0 0px; 
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex: 1; 
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 10px 0;
    color: lightgray;
    opacity: 0.6;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 100ms;
}

.actual{
    color: white;
    opacity: 1;
}

nav ul li a:hover{
    color: white;
    opacity: 1;
    scale: 1.1;
}
main {
    flex: 1;
    padding: 20px;
}

.portfolio {
    text-align: center;
}

.portfolio h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

}

.project {
    background-color: #3c6e71;
    border-radius: 10px;
    overflow: hidden;
    width: calc(33% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.project-details {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-details h2 {
    font-size: 1.2em;
    margin: 0;
    
}

.project-details p {
    flex: 1;
    margin: 10px 0;
    text-align: left;
}

.project-details button {
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 100ms;
}

.project-details button:hover {
    background-color: #218838;
    scale: 1.1;
    box-shadow: 0 0 10px #218838;
}

.button_tech {
    display: flex;
}

.button_tech button {
    width: calc(100% / 2);
}

.button_tech button a {
    text-decoration: none;
    color: white;
}

.tech-icons {
    width: calc(100% / 2);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;

}

.tech-icons img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

footer {
    background-color: #203040;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer .social-icons {
    display: flex;
    margin-left: auto;
}

footer .social-icons a {
    color: white;
    margin: 0 10px;
}

footer .social-icons img {
    max-width: 24px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

#menu {
    display: none;
}

#menu:checked ~ nav ul {
    display: flex;
}

/* Menu hamburguesa */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        color: white;
        position: absolute;
        top: 15px;
        left: 20px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #203040;
        position: absolute;
        top: 60px;
        padding: 0;
        width: 90%;
        border-radius: 15px;
        z-index: 2;
    }

    nav ul li a {
        color: white;
        padding: 15px;
        text-align: center;
    }

    nav ul li a:hover{
        color: white;
        opacity: 1;
        scale: 1.1;
    }

    #menu:checked + nav ul {
        display: flex;
    }

}

/* Responsividad */
@media (max-width: 768px) {
    .projects {
        flex-direction: column;
    }

    .project {
        width: 100%;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer p {
        position: static;
        transform: none;
    }

    footer .social-icons {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 10px 10px; 
    }

    nav {
        background-color: #204060;
        margin: 0 10px;
    }

    nav ul {
        flex-wrap: wrap;
    }

    nav ul li {
        flex: 1 1 50%; 
    }

    .projects{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project {
        width: 100%; 
        margin: 10px 0;
    }

    .project img {
        height: auto;
    }

    .project-details {
        padding: 10px;
    }

    .tech-icons {
        justify-content: center; 
        position: static; 
        margin: 10px 0 0; 
    }

    .tech-icons img {
        width: 24px; 
        height: 24px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        position: static;
        transform: none;
    }

    footer .social-icons {
        margin-top: 10px;
    }
}