/* estilos generales */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #204060;
    color: white;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px 20px; 
}

nav {
    background-color: #203040;
    border-radius: 15px; 
    padding: 20px 0;
    margin: 0 0px; 
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: calc(100% - 10px);
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block; /* Hacer que el enlace ocupe todo el espacio del li */
    padding: 10px 0; /* Añadir padding para un mejor área clicable */
    color: lightgray;
    opacity: 0.6;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 100ms;
}

.actual {
    color: white;
    opacity: 1;
}

nav ul li a:hover {
    color: white;
    opacity: 1;
    scale: 1.1;
}

main {
    text-align: center;
    padding: 20px;
    flex: 1;
}

.about-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.img-text {
    display: flex;
}

.about-me .image {
    max-width: 400px;
    margin-right: 20px;
}

.about-me .image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.about-me .text {
    max-width: 600px;
    text-align: left;
}

.about-me h1 {
    background-color: #fff;
    color: #204060;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 24px;
}

footer {
    background-color: #203040;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer .social-icons {
    display: flex;
    margin-left: auto;
}

footer .social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px; /* Ajustar el tamaño del icono */
    text-decoration: none; /* Eliminar el subrayado */
}

footer .social-icons img {
    max-width: 24px;
}

@media (max-width: 400px) {
    header {
        padding: 10px 10px; /* Reducir el padding en pantallas pequeñas */
    }

    nav {
        margin: 0 10px; /* Reducir el margen en pantallas pequeñas */
    }

    nav ul {
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    }

    nav ul li {
        flex: 1 1 50%; /* Hacer que cada elemento ocupe el 50% del ancho */
    }

    .about-me {
        flex-direction: column;
        text-align: center;
    }

    .about-me .image {
        margin-right: 0;
        margin-bottom: 20px; /* Añadir espacio entre la imagen y el texto */
    }

    .about-me .text {
        text-align: center;
    }

    .img-text{
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        position: static;
        transform: none;
    }

    footer .social-icons {
        margin-top: 10px;
    }
}