/* estilos generales */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #204060;
    color: white;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px 20px; 
}

nav {
    background-color: #203040;
    border-radius: 15px; 
    padding: 20px 0;
    margin: 0 0px; 
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: calc(100% - 10px);
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block; /* Hacer que el enlace ocupe todo el espacio del li */
    padding: 10px 0; /* Añadir padding para un mejor área clicable */
    color: lightgray;
    opacity: 0.6;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 100ms;
}

.actual{
    color: white;
    opacity: 1;
}

nav ul li a:hover{
    color: white;
    opacity: 1;
    scale: 1.1;
}

main {
    text-align: center;
    padding: 20px;
    flex: 1;
}

.intro {
    margin: 20px 0;
}

.intro h1 {
    margin-bottom: 40px;
    font-size: 2.5em;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial {
    border-radius: 15px;
    margin: 10px;
    flex: 1 1 calc(50% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: relative;
    border: 1px solid transparent; /* Establecer un borde inicial transparente */
    border-radius: 10px; /* Bordes redondeados opcionales */
    background-image: linear-gradient(#204060, #204060), linear-gradient(to right, #89D99D,#3B8C6E,#38886C,  #204060); /* Degradado y color de fondo */
    background-origin: border-box; /* El degradado se origina en el borde */
    background-clip: content-box, border-box; /* Clip del degradado al borde */

}

.testimonial blockquote {
    position: relative;
    padding-left: 40px; /* Espacio para la comilla inicial */
}

.testimonial blockquote::before {
    content: '“';
    font-size: 40px;
    color: white;
    position: absolute;
    left: 10px;
    top: 0px;
}

.testimonial div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonial div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.testimonial div cite {
    color: white;
    font-weight: bold;
}

footer {
    background-color: #203040;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer .social-icons {
    display: flex;
    margin-left: auto;
}

footer .social-icons a {
    color: white;
    margin: 0 10px;
}

footer .social-icons img {
    max-width: 24px;
}

@media (max-width: 1000px) {
    .testimonial {
        flex: 1 1 calc(100% - 40px);
    }
}

@media (max-width: 600px) {
    header {
        padding: 10px 10px; /* Reducir el padding en pantallas pequeñas */
    }

    nav {
        margin: 0 10px; /* Reducir el margen en pantallas pequeñas */
    }

    nav ul {
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    }

    nav ul li {
        flex: 1 1 50%; /* Hacer que cada elemento ocupe el 50% del ancho */
    }

    .intro {
        margin: 10px 0;
    }

    .skills {
        margin: 20px 10px; /* Ajustar el margen en pantallas pequeñas */
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        position: static;
        transform: none;
    }

    footer .social-icons {
        margin-top: 10px;
    }
}